.viewport {
  @apply mx-auto w-full max-w-[1440px] px-4;
}

.popover {
  @apply bg-content border border-border;
}

.overlay {
  @apply bg-overlay backdrop-blur-2xl;
}

.card {
  @apply bg-content rounded-3xl border border-border p-4;
}

.tip-card {
  @apply bg-content rounded-xl border border-border p-2;
}

.pool {
  background-image: linear-gradient(92deg, #8de4ff 0%, #ffdccd 100%);
  background-size: auto 235px;
  background-repeat: no-repeat;
}
