.viewport {
  @apply mx-auto w-full max-w-[1440px] px-4;
}

.popover {
  @apply border border-border bg-content;
}

.overlay {
  @apply bg-overlay backdrop-blur-2xl;
}

.card {
  @apply rounded-3xl border border-border bg-content p-4;
}

.tip-card {
  @apply rounded-xl border border-border bg-content p-2;
}
