.viewport {
  @apply mx-auto w-full max-w-[1440px] px-4;
}

.popover {
  @apply border border-border bg-content;
}

.overlay {
  @apply bg-overlay backdrop-blur-2xl;
}

.card {
  @apply rounded-3xl border border-border bg-content p-4;
}
.border-card {
  border: 15px solid;
  border-image: url('./images/border4x.png') 60;
}

.button-dialog {
  background:
    /* url('./images/button.png') center center no-repeat, */
    url('./images/button.png') right no-repeat,
    url('./images/button.png') left no-repeat;
  background-size:
    20px 20px,
    20px auto;
  /* 1px 100%; */
}

.tip-card {
  @apply rounded-xl border border-border bg-content p-2;
}

.pool {
  /* background-image: linear-gradient(92deg, #8de4ff 0%, #ffdccd 100%);
  background-size: auto 235px;
  background-repeat: no-repeat; */
}
