@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

html {
  @apply bg-[#E6F3FF];
}

header {
  @apply border-b border-border bg-white;
}

footer {
  @apply bg-[#27262C];
}

.dividing-wieght {
  --dividing-wieght: 1px; /* 分割线粗细 */
}
.dividing-wieght-bold {
  --dividing-wieght: 2px; /* 分割线粗细 */
}
