@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    outline: none;
  }

  /* 全局隐藏滚动条（Chrome / Safari / Edge） */
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply bg-[#191A2E];
  }

  header {
    @apply border-b border-border-thin bg-background lg:rounded-tl-[3rem];
  }

  main {
    @apply bg-background lg:rounded-bl-[3rem];
  }

  aside {
    @apply bg-[#191A2E];
  }

  footer {
    @apply bg-[#27262C];
  }

  .dividing-wieght {
    --dividing-wieght: 1px; /* 分割线粗细 */
  }
  .dividing-wieght-bold {
    --dividing-wieght: 2px; /* 分割线粗细 */
  }

  .gradient-button {
    background-image: linear-gradient(
      var(--color-gradient-button-deg),
      var(--color-gradient-button-from),
      var(--color-gradient-button-to)
    );
  }

  .gradient-text {
    background-image: linear-gradient(
      var(--color-gradient-button-deg),
      var(--color-gradient-button-from),
      var(--color-gradient-button-to)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
