@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

html {
  @apply bg-[#E6F3FF];
}

header {
  @apply border-b border-border bg-white;
}

footer {
  @apply bg-[#27262C];
}
