@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    outline: none;
  }

  /* 全局隐藏滚动条（Chrome / Safari / Edge） */
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply min-h-screen;
    background-repeat: no-repeat;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
  }
}
