:root {
  /* 取 hsl 的值 去除中间的逗号，方便tailwindcss控制透明度 */
  --color-primary: 18 98% 62%; /* #FD773E */
  --color-primary-foreground: 0 0% 100%; /* #fff */
  --color-secondary: 194 85% 62%; /* #4CC9F0 */
  --color-secondary-foreground: 0 0% 100%; /* #fff */

  --color-info: 215 100% 64%; /* #4994FF */
  --color-info-background: 215 100% 93%; /* #DBEAFF */
  --color-success: 134 100% 35%; /* #00B42A */
  --color-success-background: 125 100% 95%; /* #E8FFEA */
  --color-destructive: 0 90% 60%; /* #F53F3F */
  --color-destructive-background: 10 100% 95%; /* #FFECE8 */
  --color-warning: 29 100% 50%; /* #FF7D00 */
  --color-warning-background: 39 100% 95%; /* #FFF7E8 */

  --color-overlay: rgba(51, 51, 51, 0.1); /* #3333331a */

  /* input */
  --color-input-bg: 208 100% 97%; /* #F0F8FF */
  --color-input-border: var(--color-border); /* #fff */
  --color-input-border-focus: var(--color-secondary);

  /* text */
  --color-text-primary: 194 98% 56%; /* #23C9FD */
  --color-text-secondary: 0 0% 12%; /* #1E1E1E */
  --color-text-tertiary: 217 27% 43%; /* #50678C */
  --color-text-disabled: 218 11% 81%; /* #C9CDD4 */

  /* border */
  --color-border: 208 55% 89%; /* #D2E3F2 */
}
