:root {
  /* 取 hsl 的值 去除中间的逗号，方便tailwindcss控制透明度 */
  --color-primary: 45 100% 74%; /* #FFDE7C */
  --color-primary-foreground: 0 0% 100%; /* #fff */
  --color-secondary: 218 12% 64%; /* #99A1AF */
  --color-secondary-foreground: 0 0% 100%; /* #fff */

  --color-info: 215 100% 64%; /* #4994FF */
  --color-info-background: 215 100% 93%; /* #DBEAFF */
  --color-success: 134 100% 35%; /* #00B42A */
  --color-success-background: 125 100% 95%; /* #E8FFEA */
  --color-destructive: 0 90% 60%; /* #F53F3F */
  --color-destructive-background: 10 100% 95%; /* #FFECE8 */
  --color-warning: 29 100% 50%; /* #FF7D00 */
  --color-warning-background: 39 100% 95%; /* #FFF7E8 */

  /* bg */
  --color-content: 243 23% 16%; /* #201F31 */
  --color-overlay: rgba(51, 51, 51, 0.1); /* #3333331a */
  --color-disabled: 244 18% 17%; /* #252434 */

  /* input */
  --color-input-bg: 237 30% 14%; /* #191A2E */
  --color-input-border: var(--color-border); /* #fff */
  --color-input-border-focus: var(--color-secondary);

  /* text */
  --color-text-primary: 0 0% 100%; /* #fff */
  --color-text-secondary: 45 71% 75%; /* #ECD591 */
  --color-text-tertiary: 218 12% 64%; /* #99A1AF */
  --color-text-disabled: 218 11% 81%; /* #C9CDD4 */

  /* border */
  --color-border: 244 18% 17%; /* #252434 */
  --color-border-thin: 244 18% 17%; /* #252434 */

  /* tip */
  --color-icon: 218 12% 64%; /* #99A1AF */

  /* gradient */
  --color-gradient-button-from: #2600fc; /* #2600FC */
  --color-gradient-button-to: #ff00ea; /* #2600FC */
  --color-gradient-button-deg: 25deg; /* #2600FC */
}

:root {
}
